<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.error
{
color:red;
}
</style>
<title>User Registration</title>
<script>

  
  function checkPassword()
  {
   var pw1=document.getElementById('password').value;
   var pw2=document.getElementById('confirmPassword').value;
   if(pw1!=pw2)
   {
    document.getElementById("matchPwdText").innerHTML = "Password and Confirm password not match...Please try again";
      return false;
   }
   else 
       return true;	
  }
  
  
  var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirmPassword').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
  
  
</script>
</head>
<body>
<div align="center" class="container mt-5">
<h1 align="center">SHOPPING ZONE</h1>
<br>
<div class="card" style="width: 35rem; ">
  <div class="card-header text-center bg-info ">
    <h3>USER REGISTRATION</h3>
  </div>
  
  <div class="card-body">
<form th:id="form" th:action="@{/home/registerUser}" th:object="${user}" method=post th:attr="onSubmit='return checkPassword();'">
  <div class="form-group">
    <label for="UserName">User Name</label>
    <input type="text" class="form-control" id="userName" th:name="userName" required>
    <span class="has-error" th:if="${#fields.hasErrors('userName')}" th:errorclass="error" th:errors="*{userName}"></span>
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"  th:name="password" onkeyup='check();' required >
    <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>
  </div>
  
   <div class="form-group">
    <label for="password">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword"  th:name="confirmPassword"  onkeyup='check();' required>
      <span id='message'></span>
    
  </div>
  
    <br>
   
   </div>	
  
  <input type="submit" class="btn btn-primary" value="Submit"/>
  </form>  
    </div>
    
   <br><br> 
  <h5 style="color:blue;" id="matchPwdText"></h5>

</body>
</html>